@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

textarea {
  resize: none;
  border: none;
  outline: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.background-main {
  background: url("https://cdn5.mindmeister.com/assets/content/home/octopus-map-e552aba31c8b70ad00d98fd07fa14cbcddbc00fa77dabef51c2c7c1f3765e018.svg")
    no-repeat center center;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  transform: scaleY(1);
}

.react-flow__node-textUpdater.selected .text-updater-node {
  background: #5a4dd1;
  color: aliceblue;
  padding: 6px 0;
  outline: none;
  /* width: fit-content; */
}

.react-flow__edge-default.selected .react-flow__edge-path {
  stroke: rgb(183, 8, 192) !important;
}

.text-updater-node input.editable:focus {
  border: 1px solid #cfdbf7;
}

.text-updater-node input:disabled {
  background: transparent;
}

.react-flow__attribution {
  display: none;
}

.download-image.react-flow {
  /* background: #1a365d; */
}

.download-image .react-flow__node {
  /* width: 50px;
  height: 50px; */
  width: fit-content;
  height: 100%;
  /* max-width: 100px; */
  color: #7669e6;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: white;
}

.download-image .react-flow__node-custom {
  font-size: 12px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.download-image .react-flow__node-custom .react-flow__handle-right {
  transform: none;
}

.download-image .download-btn {
  border: none;
  background: #7669e6;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 100px;
  color: #fff;
}

.download-image .download-btn:hover {
  opacity: 0.9;
}
